.contenedor {
  padding: 1em;
  display: grid; 
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  /* grid-template-rows: 1fr 2fr 1fr 2fr 1fr 2fr; */
  /*grid-template: 1fr 2fr 1fr repeat( 3, 1fr) /  */
  grid-template-columns: repeat( auto-fill, minmax( 300px, 1fr ) )  ;  /* repeat( 2, 2fr ) 1fr 1fr;  auto-fit * /
  gap: 20px;
  /*grid-auto-flow: dense;*/
  /*  grid-auto-flow: column;
      grid-auto-columns: 1fr; 
      grid-auto-rows: 1fr;   */
}

.elemento {
  background-color: rgba(250, 250, 250, 0.8);
  padding: 1em;
  border-radius: 10px;
  text-align: center;
  color: #004e92;
  font-weight: 600;
  font-style: italic;
  font-size: 1.2em;
  line-height: 1.4;
}

/*

.elm1{
    grid-column: 2 / span 3;
    /*grid-column-start: 2;
      grid-column-end: 3; */
    grid-row: 2 / 4;
    /*  grid-row-start: 1 ;
      grid-row-end: 3 ; */
}


*/